// Breakpoints para media queries

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;

// Colores principales

$color-dga-blue: #003366;
$color-dga-blue-light: #0071bc;
$color-dga-green: #8cc63f;
$color-dga-dark: #272727;

// Tipografía

$font-family-kanchenjunga: "Kanchenjunga", sans-serif;

// Fuentes
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black_weight: 900;