@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.img-background {
    @include flex(row, center, center, wrap);
    min-height: 100vh;
    background-image: url("./assets/img/DGA-scaled.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    .login {
        @include flex(column, center, center, wrap);
        background-color: white;
        position: relative;
        width: 100%;
        max-width: 36rem;
        min-height: 32rem;
        padding: 2.5rem 2rem 2rem 2rem;
        border-radius: 2.5rem;
        box-shadow: 0 0rem 2.5rem rgba(0, 0, 0, 0.15);
        margin: 2rem 1rem;

        .login__background {
            @include flex(row, center, center, wrap);
            width: 100%;
        }

        .login__title {
            text-align: center;
            font-size: 2.2rem;
            margin: 3rem 0;
        }

        .login__form {
            @include flex(column, center, center, wrap);
            gap: 1.5rem;
            width: 100%;
        }

        .label {
            @include flex(row, center, center, wrap);
            margin: .2rem 0;
        }

        .label__username,
        .label__password,
        .label__email {
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .login__buttons {
            @include flex(row, center, center, wrap);
            gap: 1rem;
            margin-top: 2rem;
            width: 100%;

            @include respond-to(sm) {
                flex-direction: column;
            }

            button {
                flex: 1;
                font-size: 1.2rem;

                @include respond-to(sm) {
                    width: 50%;
                }
            }
        }

        .logo-DGA {
            width: 14rem;
            height: auto;
        }

        .input__username,
        .input__password,
        .input__email {
            width: 100%;
            padding: 0.8rem 1rem;
            border-radius: 1rem;
            border: 1px solid $color-dga-blue-light;
            font-size: 1.1rem;
            outline: none;
            transition: all .3s ease-in-out;

            &:focus {
                border-color: $color-dga-blue;
                box-shadow: 0 0 0.5rem rgba($color-dga-blue, 0.2);
            }
        }
    }
}